.phonebox {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(#000, 0.5);
    display: flex;
    align-items: center;
    transition: top 0.3s ease-out;
    z-index: 5;
    &.active-submenu {
        top: -60px;
    }
}
.menu-top__icons {
    width: 100%;
    text-align: center;
    font-size: 24px;
    .toggle {
        margin: 15px;

    }
    svg {
        filter: drop-shadow(0px 0px 1px #000);
        path {
            fill: white;
        }
    }
}

.menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    transition: bottom 0.3s ease-out;
    z-index: 5;
    padding-bottom: 10px;
    pointer-events: none;
    &.active-submenu {
        bottom: -64px;
    }
}
.menu-bottom__inner {
    width: 100%;
    text-align: right;
    padding: 0 10px;
}
.button {
    position: relative;
    border-radius: 20px;
    padding: 10px 20px;
    background: rgba(white, 0.6);
    border: none;
    color: #888888;
    font-size: 16px;
    line-height: 1.2em;
    font-size: 16px;
    line-height: 1.2em;
    vertical-align: middle;
    font-weight: bold;
     box-shadow: -2px 2px 4px #888888;
     outline: none;
    pointer-events: all;
     &:active {
        top: 2px;
        left: -2px;
        box-shadow: 0px 0px 4px #888888;
     }
    svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
}

.toggle {
    display: inline-block;
    &.active, &:hover {
        color: white;

        svg {
            opacity: 0.5;
        }
    }
}

.settings {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 3;
    pointer-events: none;
    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
    .menu-top {
        background: rgba(#fff, 0.0);
        font-size: 16px;
        button {
            background: transparent;
            border: none;
            color: white;
            font-size: 16px;
            user-select: none;
            outline: none;
        }
        .done {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .menu-top__inner {
        width: 100%;
        position: relative;
        text-align: center;
    }
}
.textwrap {
    position: absolute;
    z-index: 4;
}
.text {
    position: absolute;
    z-index: 4;
    transform: translate(-50%, -50%);
    padding: 2px 2px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
    .row {
        display: inline-block;
        word-wrap: break-word;
        max-width: 100%;
        pointer-events: all;
        user-select: none;
        padding: 2px;
        border-radius: 3px;
        transition: text-shadow 0.2s ease-out;
    }
    &.selected {
        .row {
            border: 1px solid cyan;

        }
    }
    &.deleted {
        transform: translate(-50%, -50%) scale(0.1, 0.1);
        opacity: 0;
    }
}
.axisY {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background: cyan;
    z-index: 3;
}

.axisX {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: cyan;
    z-index: 3;
}
.pincho {
    display: block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: red;
}
.trash {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 120px);
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    box-shadow: 0px 0px 1px #000;
    svg {
        filter: drop-shadow(0px 0px 1px #000);
        path {
            fill: #d9d9d9;
        }
    }
    &.dragging {
        transform: translate(-50%, 0);
    }
    &.intrash {
        border-color: white;
        path {
            fill: white;
        }
    }
    &.deleted {
        transform: translate(-50%, 0%) scale(0.1, 0.1);
        opacity: 0;
    }
}
.react-draggable {
    position: absolute;
    z-index: 3;
}


/// INPUT
.input-range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
width: 1rem; }
.input-range__slider:active {
    -webkit-transform: scale(1.3);
transform: scale(1.3); }
.input-range__slider:focus {
box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
transform: none; }

.input-range__slider-container {
    -webkit-transition: left 0.3s ease-out;
transition: left 0.3s ease-out; }

.input-range__label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
    bottom: -1.4rem;
position: absolute; }

.input-range__label--min {
left: 0; }

.input-range__label--max {
right: 0; }

.input-range__label--value {
    position: absolute;
top: -1.8rem; }

.input-range__label-container {
    left: -50%;
position: relative; }
.input-range__label--max .input-range__label-container {
left: 50%; }

.input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
transition: left 0.3s ease-out, width 0.3s ease-out; }
.input-range--disabled .input-range__track {
background: #eeeeee; }

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
top: 50%; }

.input-range__track--active {
background: #3f51b5; }

.input-range {
    height: 1rem;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.settings--background {
    .menu-top {
        visibility: hidden;
        opacity:0;
        transition: all 0.3s ease-out;
    }
    &.active {
        background: rgba(#333, 0.5);
        z-index: 4;

        .menu-top {
            visibility: visible;
            opacity:1;
        }
    }

    label {
        font-size: 16px;
        margin-bottom: 6px;
        display: block;
        color: white !important;
        text-shadow: 1px 1px #000;
    }
    .iu-loadContainer {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: rgba(#fff, 0.5);
        border: 10px solid rgba(#fff, 0.5);
    }
    .iu-dropzone {
        background-color: white;
        border-radius: 50% !important;
        border-color: rgba(#fff, 0.5) !important;
        border-width: 0px !important;
    }

    .image-upload {
        margin-top: 10px;
    }
    .background-color {
        max-width: 330px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .color-pick {
        width: 45px;
        height: 45px;
        border-width: 4px;
        &:active {
            opacity: 0.5;
        }
    }
}
